#page-list-category {
  width: 100vw;
  height: 100vh;
}

#page-list-category .page-subtitle {
  position: relative;
  margin: 8rem 0 0 3.2rem;
}
#page-list-category .page-subtitle p {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}
#page-list-category .list-category {
  max-width: calc(100% - 6.4rem);
  margin-top: 1.6rem;
  margin-left: 3.2rem;
}

@media (min-width: 700px) {
  #page-list-category .list-category {
    margin-top: 12rem;
  }
  .list-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #page-list-category .page-subtitle {
    top: 8rem;
    margin-bottom: 40px;
  }
  .page-subtitle p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
