#page-list-category {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

#page-list-category .page-subtitle {
  position: relative;
  margin: 10rem 0 0 3.2rem;
}
#page-list-category .page-subtitle p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
#page-list-category .list-category {
  max-width: calc(100% - 6.4rem);
  margin-top: 1.6rem;
  margin-left: 3.2rem;
}

@media (min-width: 700px) {
  .list-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-subtitle {
    position: absolute;
    width: 102px;
    height: 27px;
    left: 24px;
    top: 80px;
    margin-bottom: 40px;
  }
  .page-subtitle p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
