#question-content-container {
  height: 100vh;
  margin: 1.6rem;
}
#question-content-container .subtitle {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle span {
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
}

.question-container {
  margin-top: 2.7rem;
}

.question-container p {
  font-size: 16px;
  color: var(--color-general-text);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.answer-container .answer-box:hover {
  border: 2px solid #4d8af0;
}

.answer-container .answer-box {
  margin-top: 1.6rem;
  height: 96px;
  border: 1px solid #e4e4e6;
  box-shadow: 0px 1px 4px rgba(52, 60, 88, 0.4);
  border-radius: 8px;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.answer-container .answer-box:last-child {
  margin-bottom: 3.2rem;
}

.answer-container .answer-box:first-child {
  margin-top: 3.2rem;
}
.answer-container .answer-box p {
  margin: 1.9rem 1.3rem;
  font-size: 14px;
}

.answer-container .answer-box:active {
  border: 2px solid #f04dd5;
}

@media (min-width: 700px) {
  #question-content-container .subtitle {
    margin-top: 16rem;
  }
  .answer-container .answer-box:active {
    border: 2px solid #f04dd5;
  }
}
